/* Herança e especificidade */

/*
body{
	color: red;
	border: 1px solid blue;
}

#pagina p{
	color: blue !important;
}

#pagina p{
	color: red;
}*/

/* Se um seletor for mais específico que outro a regra mais
específica será aplicada (terá precedência sobr regras mais gerais) */

*{
	color: red;
}

h2{
	color: blue;
}

h2.verde{
	color: green;
}

h2#amarelo{
	color: yellow;
}